body {
  margin: 40px;
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #000000;
}


.banner_img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  max-height: 100px;
}

#header {
  text-align: center;
  margin: 0 20%;
  line-height: 0;
}

#nav_bar {
  margin: 30px 0 0;
}

#menu {
  display: inline;
  margin: 0 0 20%;
  color: #6e96d5;
  padding-bottom: 80px;
}

.nav_label {
  display: inline;
  margin: 0 8px 0 0;
}

.nav_link {
  display: inline;
  margin: 0 8px 0 0;
}


/*
.active {
  color: #6e96d5;
}

a {
  text-decoration: none;
  color: #a6c6ee;
}

*/

#main {
  position: relative;
  margin: auto;
  max-width: 500px;
}

.paper {
  position: relative;
  z-index: 99;    
}


#thanks {
	color: green;
}

input.textbox {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1em;
  color: #000000;
  background-color: #F5F5F5
  border-width: 1px 1px 1px 1px;
  padding: 4px;
  
}

textarea.textbox {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1em;
  color: #000000;
  background-color: #F5F5F5
  border-width: 1px 1px 1px 1px;
  resize: none;
  padding: 4px;
}

input.submit {
  font-family: "latolight", Helvetica, sans-serif;
  font-size: 1em;
  color: #000000;
  background-color: #F5F5F5
  border-width: 1px 1px 1px 1px;
}

ul.b {
  list-style-type: square;
  padding-left: 30px;
}